CLOUDFLARE_ACCOUNT_ID=a41b556e5cb967da7d49d43379f9662f
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_BUCKET_NAME=clips
R2_PUBLIC_URL=https://pub-ae2fb61b74a2478ab22675a177d5c3e5.r2.dev
PORT=3000
